html, body {
  margin: 0;
  width: 100%
}

html {
  font-family: "helvetica neue", sans-serif;
  height: 100%
}


/* Nav */
.nav{
  text-align: right;
  border-bottom: 1px solid #EAEAEB;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: grey;
  margin: 0 10px;
  line-height: 70px;
}

label{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle{
  display: none;
}

@media only screen and (max-width: 768px) {
    label{
      display: block;
      cursor: pointer;
    }
    .menu {
      display: none;
      text-align: center;
      width: 100%
    }
    .menu a {
      display: block;
      margin: 0;
      border-bottom: 1px solid #EAEAEB;
    }
    #toggle:checked + .menu{
      display: block;
    }
    .container {
      margin-top: 210px
    }
}


.container{
  min-height: 800px;
  text-align: center;
  padding: 10px 100px 0 100px;
  background-color: #f8f2e8;
}

#secret {
  margin-top: 900px;
  padding-bottom: 10px;
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%
}

footer{
  position: relative;
  padding: 5px 0 15px 0;
  width: 100%;
  text-align: center;
}
