body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #F0D6BB;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* Header */

header{
  background: #A86052;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #E0AF96 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

#showcase{
  min-height: 400px;
  text-align: center;
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#E0AF96;
  text-align: center;
}
